/* NUOVO CSS */

label {
  margin-left: 1em;
  font-weight: bold;
}

form {
  padding: 1.5em 1.5em 1.5em 1.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1em;

  align-items: center;
  justify-content: center;
}

form input[type='text'] {
  width: 16em;
  padding-left: 0.5em;
  height: 2em;
}

input[type='text']:focus {
  outline: none;
  border-color: #6eb3ea;
}

input[type='date'] {
  font-size: 1em;
  border-radius: 2px;
  width: 16em;
  padding-left: 0.5em;
  height: 2em;
}

.page-body {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 2em;
}

.ag-pivot-off .ag-header-cell-label {
  color: #8a6d3b;
  font-size: 1.3em;
}

.formWrapper {
  margin-top: 2em;
  border-color: gray;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.1em;
  padding-bottom: 1.5em;
}

.formWrapper Button {
  margin-left: 1em;
}

#navbarCollapse ul {
  margin-left: 2em;
}

#navbarCollapse li {
  margin-left: 2em;
}

#navbarCollapse li a {
  font-weight: bold;
}

#cercaAllievaForm {
  margin-top: 2em;
  margin-left: 5em;
}

#cercaAllievaForm input[type='text'] {
  width: 16em;
  padding-left: 0.5em;
  height: 2em;
  margin-left: 1em;
}

#cercaAllievaForm Button {
  margin-left: 1em;
}
