/* NEW CSS */

.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

label {
  padding-right: 1em;
  font-weight: bold;
}

form {
  padding: 1.5em 1.5em 1.5em 1.5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1em;

  align-items: center;
  justify-content: center;
}

form input[type='text'] {
  width: 16em;
  padding-left: 0.5em;
  height: 2em;
}

input[type='text']:focus {
  outline: none;
  border-color: #6eb3ea;
}

input[type='date'] {
  font-size: 1em;
  border-radius: 2px;
  padding-left: 0.5em;
  height: 2em;
}

.filter-form {
  display: flex;
  justify-content: left; 
  align-items: center;
  padding-bottom: 1em;
}

.filter-form > * {
  margin-right: 1em;
}

.create-receipt-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.create-receipt-form input[type='date'] {
  width: 15vw;
}

.flex-element {
  flex: 1 3 15vw;
  margin-top: 0.7vw;
}

.create-student-form {
  display: grid;
  grid-template-columns: 10% 20% 10% 20%;
  align-items: center;
  justify-content: center;
  row-gap: 0.5vw;
  column-gap: 1vw;
}

.create-student-form > label {
  margin-top: 0.7vw;
}

.create-student-form > input, select, option, form-control {
  min-width: 0;
}

.update-student-modal {
  width: 70vw;
  max-width: 70vw;
}

.update-student-form {
  display: grid;
  grid-template-columns: 15% 25% 15% 25%;
  align-items: center;
  justify-content: center;
  row-gap: 1vw;
  column-gap: 1vw;
}

.update-student-form > label {
  margin-top: 0.3vw;
  margin-left: 0.7vw;
}

.update-student-form > input, select, option, form-control {
  /* flex: 1 0 20vw; /* flex-grow, flex-shrink, flex-basis */
  margin-top: 0.3vw;  
   /* top, right, bottom, left  */
}

.page-body {
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  padding-bottom: 5em;
}

.ag-pivot-off .ag-header-cell-label {
  color: #8a6d3b;
  font-size: 1.3em;
}

.formWrapper {
  margin-top: 2em;
  padding-bottom: 1.5em;
}

.formWrapper Button {
  margin-left: 1em;
}

.cercaForm {
  margin-top: 2em;
  margin-left: 5em;
}

.cercaForm input[type='text'] {
  width: 16em;
  padding-left: 0.5em;
  height: 2em;
  margin-left: 1em;
}

.cercaForm Button {
  margin-left: 1em;
}

#navbarCollapse ul {
  margin-left: 2em;
}

#navbarCollapse li {
  margin-left: 2em;
}

#navbarCollapse li a {
  font-weight: bold;
}

.btn {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.updateRegistrationDate {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteStudentModalBody {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.updateStudentModalBody {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.ag-theme-balham {
  margin-top: 1em;
}