.user-form {
  display: grid;
  grid-template-columns: 20% 25% 20% 25%;
  align-items: center;
  justify-content: center;
  row-gap: 0.5em;
  column-gap: 1vw;
}

.user-form-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
}

@media screen and (max-width: 992px) {
  .user-form {
    grid-template-columns: 40% 50%;
  }
}
