.upsert-receipt-form {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: left;
  align-items: center;
  gap: 1em 3em;
}

.upsert-receipt-form input[type='date'] {
  width: 15vw;
}

.upsert-membership-fee-form {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: left;
  align-items: center;
  gap: 1em 3em;
}

.upsert-membership-fee-form input[type='date'] {
  width: 15vw;
}

.checkbox-container {
  margin: 1em auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

@media screen and (max-width: 992px) {
  .upsert-receipt-form {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }

  .upsert-membership-fee-form {
    display: flex;
    flex-wrap: wrap;
  }

  .upsert-membership-fee-form > * {
    width: 100%;
  }

  .upsert-membership-fee-form input[type='date'] {
    width: 100%;
  }

  .upsert-membership-fee-form > div > .css-2b097c-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .upsert-receipt-form {
    display: flex;
    flex-wrap: wrap;
  }

  .upsert-receipt-form > * {
    width: 100%;
  }

  .upsert-receipt-form input[type='date'] {
    width: 100%;
  }

  .upsert-receipt-form > div > .css-2b097c-container {
    max-width: 100%;
  }
}
