.upsert-receipt-form {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: left;
  align-items: center;
  gap: 1em 3em;
}

.upsert-receipt-form input[type='date'] {
  width: 15vw;
}

.checkbox-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1em;
  align-self: flex-end;
}
