.teachers-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: left;
  gap: 2em;
}

@media screen and (max-width: 1200px) {
  .teachers-container {
    grid-template-columns: repeat(2, auto);
    padding: 0 1em;
  }
}

@media screen and (max-width: 768px) {
  .teachers-container {
    justify-content: center;
    grid-template-columns: auto;
  }
}
